/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
div{
	background-color: rgb(255, 255, 255);
	padding: 5px; 
	border: 1px solid black;
	border-radius: 5px;
}
h1{
	text-align: center;
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;
}
h2{
	text-align: center;
}
.player_one{
	text-align: center;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}
.player_two{
	text-align: center;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}
video{
	width: 630px;
	height: 300px;
}